@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
body{
  font-family: 'Walter Turncoat', cursive;
  font-size: 2.5em;
  padding:1em;
  background-size: 1em 1em;
  background-image: radial-gradient(circle, rgba(0,50,255,0.2) 1px, rgba(black, 0) 2px);
  background-position:.3em .62em;
}
