#title{

  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.planning{
  font-family: 'Oswald', sans-serif;
  text-align: center;
    font-weight: bold;
    font-size: 30px;



}

.noplanning{
  font-family: 'Oswald', sans-serif;
  text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;



}
