<form [formGroup]="authForm" *ngIf="!authStatus">
  <label for="basic-url">Nom d'utilisateur</label>
  <input type="text" class="form-control" formControlName="username" />
  <label for="basic-url">Mot de passe</label>
  <input type="text" class="form-control" formControlName="password" />
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="authForm.invalid"
    (click)="onSignIn()"
  >
    Se connecter
  </button>
</form>
<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">
  Se déconnecter
</button>
