.title{font-family: 'Oswald', sans-serif;
text-align: center;
  font-weight: bold;
  margin-top: 10%;
  font-size: 30px;}


  .noFollow{font-family: 'Oswald', sans-serif;
    text-align: center;
      font-weight: bold;
      margin-top: 10%;
      font-size: 30px;}
